
    <footer>
        <ul>
            <li>&copy; Book Club Connections</li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </footer>
</body>

</html>