<%- include('./partials/header.ejs')%>
    <main id="home-content" class="align-center">
        <h2>About Book Club Connections</h2>
        <p>
            Attend and create events to connect with people, whether you are
            looking for a buddy, trying to connect with others who are interested
            in something you love to do, or want to try something new.
        </p>
        <p>Check out the Connections section to browse available connections!</p>
    </main>
    <%- include('./partials/footer.ejs')%>