<%- include('./partials/header.ejs')%>
    <main>
        <h2>Contact Us</h2>
        <h3>Phone:</h3>
        <p>(123) 456-7890</p>
        <h3>Email:</h3>
        <p>email@email.com</p>
        <h3>Address:</h3>
        <p>9201 University City Blvd, Charlotte, NC 28223</p>
    </main>
    <%- include('./partials/footer.ejs')%>